{% extends "templates/base.html" %} {% load static search_extras %} {% block extra_headers %}
<script src="{% static 'js/modal.js' %}"></script>

<script>
    $(document).ready(function() {
        var roster_cart_buttons = $('.roster-cart');
        
        $('.roster-cart').each(function() {
            var bio = $(this);
            var add_to_roster_action = "{% url 'add_to_roster' %}";
            var remove_from_roster_action = "{% url 'remove_from_roster' %}";

            bio.on('click', function() {
                var bio_id = bio.attr('data-bio');
                $.post(
                    bio.attr('data-action'), {
                        "bio_id": bio_id
                    },
                    function(data) {
                        get_roster_bios();
                        var buttons = $('[data-bio=' + bio_id + ']');
                        buttons.attr('data-action', data.added ? remove_from_roster_action : add_to_roster_action);
                        buttons.html(data.added ? 'Remove from cart' : 'Add to cart');
                    }
                );
            });
            bio.removeClass('d-none');
        });
    });
</script>

{% endblock %} {% block content %}
<div class="container my-4 pb-5">
    <div class="card">
        <div class="card-header "> {% comment %} validate if exist a result  {% endcomment %}
            <h5 class="mt-2 float-left">
                {% if bios %}{{ max }} {{ title }} {% if q %} for {{ q }}  {% endif %}
                {% else %}No matches for {{ q }}{% endif %}
            </h5>
        </div>
        {% if bios %}
        <div class="card d-none d-sm-block">
            <div class="table-responsive text-center">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th class=" align-middle" style="width: 30%;">Consultant</th>
                            <th class=" align-middle" style="width: 55%;">Skills</th>
                            <th class=" align-middle" >Action</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% for bio in bios %} {% if bios %}
        <br class="d-block d-sm-none"> {% comment %} start Smartphone view  {% endcomment %}
        <div class="card d-block d-sm-none"><br>
            <div class="container card d-block d-sm-none" style="width: 18rem;">
                <div class="card-body text-center">
                    <h4>
                        <a href="#theModal" class="nav-link " data-toggle="modal" data-target="#theModal{{ bio.3.id }}">{{ bio.3.name }}</a>
                    </h4>
		            <h5 class="card-subtitle mb-2 ">{{ bio.3.title }} <br> {{ bio.3.location }} </h5>
                    <p class="card-text">{% get_importance bio.3.technical_skills tags %}</p>
                    <p>{% for skill,count in bio.0.items %} <strong>{{ skill}}</strong> found <strong>{{ count }}</strong> time(s) in Bio <br> {% endfor %}</p>
                    <button class="ml-auto btn btn-sm btn-outline-success d-none roster-cart float_left bio-{{ bio.3.pk }}" data-bio="{{ bio.3.pk }}" data-action="{% if bio.3.pk in roster %}{% url 'remove_from_roster' %}{% else %}{% url 'add_to_roster' %}{% endif %}">{% if bio.3.pk in roster %}Remove from cart{% else %}Add to cart{% endif %}</button>
                </div>
            </div><br>
        </div> {% comment %} End Smartphone view  {% endcomment %}
        <div class="card d-none d-sm-block"> {% comment %} start pc view  {% endcomment %}
            <div class="table-responsive">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td class="align-middle" style="width: 30%;">
                                <h5>
                                    <a href="#theModal" class="nav-link text-center" data-toggle="modal" data-target="#theModal{{ bio.3.id }}">{{ bio.3.name }}</a>
                                </h5><br>
				                <center class="font-weight-bold">{{ bio.3.title }} <br> {{ bio.3.location }}</center>
                            </td>
                                <td class="align-middle" style="width: 55%;">{% get_importance bio.3.technical_skills tags %}{% for skill,count in bio.0.items %}<strong>{{ skill}}</strong> found <strong>{{ count }}</strong> time(s) in Bio <br>{% endfor %}    
                            </td>    
                            <td class="align-middle">
                                <button class="btn btn-sm btn-outline-success d-none roster-cart" data-bio="{{ bio.3.pk }}" data-action="{% if bio.3.pk in roster %}{% url 'remove_from_roster' %}{% else %}{% url 'add_to_roster' %}{% endif %}">{% if bio.3.pk in roster %}Remove from cart{% else %}Add to cart{% endif %}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> {% comment %} End pc view  {% endcomment %}
        {% endif %} {% endfor %} 
        <div class="float-right"> {% comment %} start paginator {% endcomment %}
        <nav class="float-right pr-5" aria-label="Page navigation">
            <ul class="pagination">
                {% if bios.has_previous %}
                <li class="page-item">
                    <a class="page-link paginator-link" href="?q={{ q }}&page=1">&laquo; first</a>
                </li>
                <li class="page-item">
                    <a class="page-link paginator-link" href="?q={{ q }}&page={{ bios.previous_page_number }}">{{ bios.previous_page_number }}</a>
                </li>
                {% endif %}
                <li class="page-item active">
                    <a class="page-link" href="#">{{ bios.number }}</a>
                </li>
                {% if bios.has_next %}
                <li class="page-item">
                    <a class="page-link paginator-link" href="?q={{ q }}&page={{ bios.next_page_number }}">{{ bios.next_page_number }}</a>
                </li>
                <li class="page-item">
                    <a class="page-link paginator-link" href="?q={{ q }}&page={{ bios.paginator.num_pages }}">last &raquo;</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        </div> {% comment %} finish paginator {% endcomment %}
        {% endif %}
    </div>
</div>
 
{% for bio in bios %} {% comment %} start open a bio view  {% endcomment %}
<div class="modal fade mt-5 pt-5" id="theModal{{ bio.3.id }}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ bio.3.name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">{{ bio.3.profile }}</div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-outline-success d-none roster-cart float_left bio-{{ bio.3.pk }}" data-bio="{{ bio.3.pk }}" data-action="{% if bio.3.pk in roster %}{% url 'remove_from_roster' %}{% else %}{% url 'add_to_roster' %}{% endif %}">{% if bio.3.pk in roster %}Remove from cart{% else %}Add to cart{% endif %}</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a class="btn btn-primary" href="{{ bio.3.url }}">Open Bio</a>
            </div>
        </div>
    </div>
</div>
{% endfor %} {% endblock %} {% comment %} finish open a bio   {% endcomment %}