{% extends "templates/base.html" %} {% load static search_extras %} {% block extra_headers %}
<link rel="stylesheet" href="{% static 'search/css/search.css' %}">
<script src="{% static 'js/modal.js' %}"></script>
<script type="text/javascript">
    $().ready(function(){
        $('[rel="tooltip"]').tooltip();
    });

    function rotateCard(btn){
        var $card = $(btn).closest('.card-container');
        console.log($card);
        if($card.hasClass('hover')){
            $card.removeClass('hover');
        } else {
            $card.addClass('hover');
        }
    }
</script>
<script>
    $(document).ready(function() {
        var roster_cart_buttons = $('.roster-cart');
        
        $('.roster-cart').each(function() {
            var bio = $(this);
            var add_to_roster_action = "{% url 'add_to_roster' %}";
            var remove_from_roster_action = "{% url 'remove_from_roster' %}";
            bio.on('click', function() {
                var bio_id = bio.attr('data-bio');
                $.post(
                    bio.attr('data-action'), {
                        "bio_id": bio_id
                    },
                    function(data) {
                        get_roster_bios();
                        var buttons = $('[data-bio=' + bio_id + ']');
                        buttons.attr('data-action', data.added ? remove_from_roster_action : add_to_roster_action);
				    buttons.html(data.added ? 'Remove from cart' : parseInt(bio.val()) >= 100 ? 'Add Anyway' : 'Add to cart');
			console.log(bio.val());
                    }
                );
            });
            bio.removeClass('d-none');
        });

 });
</script>
<script>
var card = document.querySelector('.card');
card.addEventListener( 'click', function() {
  card.classList.toggle('is-flipped');
});
</script>

{% endblock %} {% block content %}
<div class="container my-4 pb-5">
    <div class="card"style="border: inherit;">
        <div class="card-header" > {% comment %} validate if exist a result  {% endcomment %}
            <h5 class="mt-2 float-left">
                {% if bios %}{{ max }} {{ title }} {% if q %} for {{ q }}  {% endif %}
                {% else %}No matches for {{ q }}{% endif %}
            </h5>
        </div>
        {% if bios %}
        <div class="card d-none d-sm-block">
            <div class="table-responsive text-center" >
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th class=" align-middle" style="width: 30%;">Consultant</th>
                            <th class=" align-middle" style="width: 55%;">Skills</th>
                            <th class=" align-middle" >Action</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% for bio in bios %} {% if bios %}
        {% comment %} start Smartphone view  {% endcomment %}
	<div class="pt-3" style="background: LightGrey !important"></div>
        <div class="card-container manual-flip d-block d-sm-none ">
			<div class="card ">
			{% if bio.8 >= 90 %}
			<div class="front notAvailable">
			{% else %}
			<div class="front">
			{% endif %}
                    <div class="cover">
                        {% if bio.3.location == "Mexico Delivery Center" %}
			    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdpTmDM6lXfOqVozFAMr71PMKI7HuUA1YQ_EmN_QkEjdBg7JYo">               							                                                        {% endif %}
		        {% if bio.3.location == "West" %}
		            <img src="https://atgusa.com/wp-content/uploads/2018/06/Phoenix-pic-.jpg">
		        {% endif %}
		        {% if bio.3.location == "Central" %}
		            <img src="https://odysseyonline-img.rbl.ms/simage/http%3A%2F%2Fcdn1.theodysseyonline.com%2Ffiles%2F2015%2F06%2F16%2F6357006265818468541994708887_Austin_Evening.jpg/2000%2C2000/s6FVytfQ3pTXc1J9/img.jpg">
		        {% endif %}
		        {% if bio.3.location == "East" %}
		            <img src="http://newyork.irishnetwork-usa.org/wp-content/uploads/sites/5/2015/06/nyc-slide.jpg">
                        {% endif %}
                    </div>
                    <div class="user">
                        <img class="img-circle" src="https://xpagexplorer.org/unicornwpfolder/wp-content/uploads/user_male2-512.png" />
                    </div>
                    <div class="content">
                        <div class="main">
		    <h3 class="text-center"style="color: green;">{{ bio.4 }} </h3> 
		    <h6 class="text-center"><strong>Relevance Score: {{ bio.9| floatformat:-2 }}%</strong></h6>
		            <h3 class="name">{{ bio.3.name }}</h3>
		            <p class="profession">{{ bio.3.title }} <br> {{ bio.3.location }}<br></p>
                            <p class="scrolldiv text-center">
                            {% for skill,count in bio.0.items %} 
                                <strong>{{ skill}}</strong> found <strong>{{ count }}</strong>
                                time(s) in Bio <br> 
                            {% endfor %}
			    </p>
                            <div class="mt-4 col-md-4 text-center">
				    <button class="ml-auto btn btn-sm btn-outline-success d-none roster-cart float_left bio-{{ bio.3.pk }}" data-bio="{{ bio.3.pk }}" data-action="{% if bio.3.pk in roster %}{% url 'remove_from_roster' %}{% else %}{% url 'add_to_roster' %}{% endif %}"  id="{{ bio.3.pk }}" value="{{ bio.8 }}">
                                {% if bio.3.pk in roster %}
					Remove from cart
		                {% else %}
		                        {% if bio.8 >= 90 %}
			                        Add Anyway
			                {% else %}
				                Add to Cart
				        {% endif %}
				{% endif %}
				</button>
		            </div>
                        </div>
		        <div class="card-myfooter">
                            <button id="profilebutton" class="btn btn-sm btn-outline-secondary" onclick="rotateCard(this)"><span class="oi oi-share"></span> Show Profile
			    </button>
                        </div>
                    </div>
                </div>
                <div class="back">
                    <div class="content">
                        <div class="main">
                            <h4 class="text-center mt-4">Profile of {{ bio.3.name }}</h4>
                            <div class="scrollprofile">
                                <p class="text-center" >{{ bio.3.profile }}</p>
                            </div>
                            <h4 class="text-center">Location</h4>
                            <p class="text-center">{{ bio.3.location }}</p>
                            <h4 class="text-center">Assignments:</h4>
			                <table class="table table-sm">
							    <thead>
								    <th style="width: 35%;">Client</th>
								    <th style="width: 20%;">Utilization</th>
								    <th class="text-right">End date</th>
								</thead>
							</table>
			    <div class="scrolldivDeskMatches">
                    <table class="table table-sm">
				        <tbody class="assignments">
							{% for assignment in bio.7 %}
                                <tr>
					            <td style="width: 40%;"> {{ assignment.account_name|slice:"0:20" }}...</td>
		          	            <td style="width: 20%;">{{ assignment.utilisation }}</td>
			                    <td class="text-right">{{ assignment.p3_end }}</td>
                                </tr>		             
				            {% endfor %}
				        </tbody> 
				    </div>
	                        </table>
				</div>
				<table class="table table-sm">
				    <tr>
						<th scope="row" style="width: 40%">Total</th>
						<td colspan="2">{{ bio.8 }}</td>
			        </tr>
				</table>
                            <div>
                            <a class="btn btn-sm btn-outline-info float-right" href="{{ bio.3.url }}">Open Bio</a>
                            <button class="mr-2 btn btn-sm btn-outline-success d-none roster-cart float-right bio-{{ bio.3.pk }} " data-bio="{{ bio.3.pk }}"
                        data-action="{% if bio.3.pk in roster %}{% url 'remove_from_roster' %}{% else %}{% url 'add_to_roster' %}{% endif %}"
                        id="{{ bio.3.pk }}" value="{{ bio.8 }}">
                        {% if bio.3.pk in roster %}
                        Remove from cart
                        {% else %}
                        {% if bio.8 >= 90 %}
                        Add Anyway
                        {% else %}
                        Add to Cart
                        {% endif %}
                        {% endif %}
                    </button>
                
                    
                </div>
                </div>
                </div>
                <div class="card-myfooter">
                    <button id="backbutton" class="btn btn-sm btn-outline-secondary ml-2 mb-2" rel="tooltip" title="Flip Card" onclick="rotateCard(this)"><span class="oi oi-share rotate180"></span> Back</button>
                </div>
            </div>
        </div>
	<br>
    </div>	
    {% comment %} End Smartphone view  {% endcomment %}
    {% comment %} Start Desktop View  {%endcomment %}
    <div class="card d-none d-sm-block">
        <div class="table-responsive">
            <table class="table table-hover">
                <tbody>
			{% if bio.8 >= 90 %}	
                    <tr class="notAvailable">
		{% else %}
		    <tr>
		{% endif %}
		        <td class="align-middle consultant-row">
	                    <div class="cover">
		            {% if bio.3.location == "Mexico Delivery Center" %}
			        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdpTmDM6lXfOqVozFAMr71PMKI7HuUA1YQ_EmN_QkEjdBg7JYo">
			    {% endif %}
            	            {% if bio.3.location == "West" %}
			        <img src="https://atgusa.com/wp-content/uploads/2018/06/Phoenix-pic-.jpg">
                            {% endif %}
		 	    {% if bio.3.location == "Central" %}
			        <img src="https://odysseyonline-img.rbl.ms/simage/http%3A%2F%2Fcdn1.theodysseyonline.com%2Ffiles%2F2015%2F06%2F16%2F6357006265818468541994708887_Austin_Evening.jpg/2000%2C2000/s6FVytfQ3pTXc1J9/img.jpg">	                            {% endif %}
			    {% if bio.3.location == "East" %}
		                <img src="http://newyork.irishnetwork-usa.org/wp-content/uploads/sites/5/2015/06/nyc-slide.jpg">
                            {% endif %}
			    </div>
		            <div class="user">
			        <img class="img-circle" src="https://xpagexplorer.org/unicornwpfolder/wp-content/uploads/user_male2-512.png"> 
			    </div>
	                    <h5><a href="#theModal" class="nav-link text-center" data-toggle="modal" data-target="#theModal{{ bio.3.id }}">{{ bio.3.name }}</a></h5>
			    <center class="font-weight-bold">
			        {{ bio.3.title }} <br> {{ bio.3.location }}
			    </center>
		        </td>
                        <td class="profile" style="width: 55%;">
		            <div class="description">
			        <center>
			            <h4>{{ bio.4 }}</h4>
				  
				    <h6><strong>Relevance Score: {{ bio.9| floatformat:-2 }}%</strong></h6>
			        </center>
			        <p>{{ bio.3.profile|slice:"0:150" }}...</p>
		                <p class="scrolldivDeskMatches">
			        {% for skill,count in bio.0.items %}
			            <strong>{{ skill}}</strong> found <strong>{{ count }}</strong> time(s) in Bio <br>
			        {% endfor %}
			        </p>
			    </div>
                        </td>    
                        <td class="align-middle action-column">
		            <a href="#theModal" class="nav-link text-center btn btn-sm btn-outline-success profile-button" data-toggle="modal" data-target="#theModal{{ bio.3.id }}"><span class="oi oi-person"></a>
			    <center>
		
			    <button class="ml-auto btn btn-sm btn-outline-success d-none roster-cart float_left bio-{{ bio.3.pk }}" data-bio="{{ bio.3.pk }}" data-action="{% if bio.3.pk in roster %}{% url 'remove_from_roster' %}{% else %}{% url 'add_to_roster' %}{% endif %}" id="{{ bio.3.pk }}" value="{{ bio.8 }}">
			    {% if bio.3.pk in roster %}
	                          Remove from cart
		            {% else %}
		                  {% if bio.8 >= 90 %}
		                        Add Anyway
		                  {% else %}
		                        Add to Cart
		                  {% endif %}
		            {% endif %}
		            </button>
					    </center>
	 	        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% comment %} End pc view  {% endcomment %} 
    {% endif %} {% endfor %} 
    {% comment %} start paginator {% endcomment %}
    <div class="float-right"> 
        <nav class="float-right pr-5" aria-label="Page navigation">
            <ul class="pagination">
            {% if bios.has_previous %}
                <li class="page-item"><a class="page-link paginator-link" href="?q={{ q }}&page=1">&laquo; first</a></li>
                <li class="page-item"><a class="page-link paginator-link" href="?q={{ q }}&page={{ bios.previous_page_number }}">{{ bios.previous_page_number }}</a></li>
            {% endif %}
            <li class="page-item active"><a class="page-link" href="#">{{ bios.number }}</a></li>
            {% if bios.has_next %}
		<li class="page-item"><a class="page-link paginator-link" href="?q={{ q }}&page={{ bios.next_page_number }}">{{ bios.next_page_number }}</a></li>
                <li class="page-item"><a class="page-link paginator-link" href="?q={{ q }}&page={{ bios.paginator.num_pages }}">last &raquo;</a></li>
            {% endif %}
            </ul>
        </nav>
    </div> 
    {% comment %} finish paginator {% endcomment %}
    {% endif %}
    </div>
</div>
{% for bio in bios %} {% comment %} start open a bio view  {% endcomment %}
<div class="modal fade mt-5 pt-5" id="theModal{{ bio.3.id }}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #17a2b8" >
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">{{ bio.3.name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:white">×</span>
		</button>
            </div>
            <div class="modal-body"><p>{{ bio.3.profile }}</p>
                <table class="table table-cost">
                    <tr>
                       <th class="text-center" style="border-top:0; width: 50%">Location</th>
                       <th class="text-center" style="border-top:0;">Cost</th>
                    </tr>
                    <tr>
                        <td class="text-center" style="border-top:0; width: 50%">{{ bio.3.location }}</td>
                        <td class="text-center" style="border-top:0;">$1000</td>
                    </tr>
                </table>
                <br>
			            <h4 class="text-center">Assignments:</h4>
				    <table class="table ">
	         			<thead>
			     		<tr>
					   <th scope="col" style="border-top:1px solid #17a2b8; border-bottom:1px solid #17a2b8">Client</th>
					   <th scope="col" style="border-top:1px solid #17a2b8; border-bottom:1px solid #17a2b8">Utilization</th>
			                   <th scope="col" style="border-top:1px solid #17a2b8; border-bottom:1px solid #17a2b8">End Date</th>
					</tr>
					</thead>
					<tbody>
					{% for assignment in bio.7 %}
					<tr>
						<td style="border-top:1px solid #17a2b8">{{ assignment.account_name }}</td>
						<td style="border-top:1px solid #17a2b8">{{ assignment.utilisation }}</td>
						<td style="border-top:1px solid #17a2b8">{{ assignment.p3_end }}</td>
					</tr>
					{% endfor %}
					<tr>
					<th scope="row" style="border-top:none">Total</th>
					<td colspan="2"  style="border-top:none">{{ bio.8 }}</td>
					</tbody>
				    </table>
	    </div>
            <div class="modal-footer">
		    <button class="ml-auto btn btn-sm btn-outline-success d-none roster-cart float_left bio-{{ bio.3.pk }}" data-bio="{{ bio.3.pk }}" data-action="{% if bio.3.pk in roster %}{% url 'remove_from_roster' %}{% else %}{% url 'add_to_roster' %}{% endif %}"  id="{{ bio.3.pk }}" value="{{ bio.8 }}">
		                                    {% if bio.3.pk in roster %}
						                                            Remove from cart
											                                    {% else %}
															                                            {% if bio.8 >= 90 %}
																				                                                    Add Anyway
																										                                            {% else %}
																															                                                    Add to Cart
																																					                                            {% endif %}
																																										                                    {% endif %}
																																														                                    </button>
               
                <a class="btn btn-sm btn-outline-primary" href="{{ bio.3.url }}">Open Bio</a>
            </div>
        </div>
    </div>
</div>
{% endfor %} {% endblock %} {% comment %} finish open a bio   {% endcomment %}
