{% extends "templates/base.html" %}
{% load static %}
{% block extra_headers %}
<!-- Base statuc -->
<link rel="stylesheet" href="{% static 'css/credits.css' %}">
<link rel="stylesheet" href="{% static 'css/open-iconic-bootstrap.min.css' %}">
<script>
    function get_roster_bios(){
        $.post(
            "{% url 'get_roster_bios' %}",
            function(data){
                //roster_bios = data.bios;
                $('#roster_count2').html(data.bios.length);
                $('#roster_count1').html(data.bios.length);
            }
        );
    }

    $(document).ready(function(){
        get_roster_bios();
    });
</script>
{% endblock %}
<title>{{ title }}</title>
    <body>
    {% block content %}

<h3 class="note text-center">SKILLS SEARCHER TEAM</h3>


<!-- FONTAWESOME 5 AND NORMALIZED CSS INSTALLED-->
<!-- View settings for more info.-->
<div id="cubeContainer">
  <div id="cubeWrapper">
    <div class="head">
      <h1>MEET THE TEAM</h1>
    </div>
    <div id="cubes">
      <div class="cube p2">
        <div class="name">
          <h1>Brain</h1>
          <p>Manager</p>
        </div>
        <div class="innerBorder"></div>
        <div class="darken"></div>
        <div class="content">
          <ul>
            <li><a href=""><span class="fab fa-twitter"></span></a></li>
            <li><a href=""><span class="fab fa-facebook-f"></span></a></li>
            <li><a href=""><span class="fab fa-instagram"></span></a></li>
            <li><a href=""><span class="fab fa-youtube"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="cube p1">
        <div class="name">
          <h1>Jessica</h1>
          <p>Community Manager</p>
        </div>
        <div class="innerBorder"></div>
        <div class="darken"></div>
        <div class="content">
          <ul>
            <li><a href=""><span class="fab fa-twitter"></span></a></li>
            <li><a href=""><span class="fab fa-facebook-f"></span></a></li>
            <li><a href=""><span class="fab fa-instagram"></span></a></li>
            <li><a href=""><span class="fab fa-youtube"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="cube p3">
        <div class="name">
          <h1>Chris</h1>
          <p>Web Developer</p>
        </div>
        <div class="innerBorder"></div>
        <div class="darken"></div>
        <div class="content">
          <ul>
            <li><a href=""><span class="fab fa-twitter"></span></a></li>
            <li><a href=""><span class="fab fa-facebook-f"></span></a></li>
            <li><a href=""><span class="fab fa-instagram"></span></a></li>
            <li><a href=""><span class="fab fa-youtube"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="cube p4">
        <div class="name">
          <h1>James</h1>
          <p>UX / UI Designer</p>
        </div>
        <div class="innerBorder"></div>
        <div class="darken"></div>
        <div class="content">
          <ul>
            <li><a href=""><span class="fab fa-twitter"></span></a></li>
            <li><a href=""><span class="fab fa-facebook-f"></span></a></li>
            <li><a href=""><span class="fab fa-instagram"></span></a></li>
            <li><a href=""><span class="fab fa-youtube"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="cube p5">
        <div class="name">
          <h1>Rebecca</h1>
          <p>Graphics Designer</p>
        </div>
        <div class="innerBorder"></div>
        <div class="darken"></div>
        <div class="content">
          <ul>
            <li><a href=""><span class="fab fa-twitter"></span></a></li>
            <li><a href=""><span class="fab fa-facebook-f"></span></a></li>
            <li><a href=""><span class="fab fa-instagram"></span></a></li>
            <li><a href=""><span class="fab fa-youtube"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="cube p6">
        <div class="name">
          <h1>James</h1>
          <p>UX / UI Designer</p>
        </div>
        <div class="innerBorder"></div>
        <div class="darken"></div>
        <div class="content">
          <ul>
            <li><a href=""><span class="fab fa-twitter"></span></a></li>
            <li><a href=""><span class="fab fa-facebook-f"></span></a></li>
            <li><a href=""><span class="fab fa-instagram"></span></a></li>
            <li><a href=""><span class="fab fa-youtube"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="cubes">
      <div class="cube p2">
        <div class="name">
          <h1>Brain</h1>
          <p>Manager</p>
        </div>
        <div class="innerBorder"></div>
        <div class="darken"></div>
        <div class="content">
          <ul>
            <li><a href=""><span class="fab fa-twitter"></span></a></li>
            <li><a href=""><span class="fab fa-facebook-f"></span></a></li>
            <li><a href=""><span class="fab fa-instagram"></span></a></li>
            <li><a href=""><span class="fab fa-youtube"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="cube p1">
        <div class="name">
          <h1>Jessica</h1>
          <p>Community Manager</p>
        </div>
        <div class="innerBorder"></div>
        <div class="darken"></div>
        <div class="content">
          <ul>
            <li><a href=""><span class="fab fa-twitter"></span></a></li>
            <li><a href=""><span class="fab fa-facebook-f"></span></a></li>
            <li><a href=""><span class="fab fa-instagram"></span></a></li>
            <li><a href=""><span class="fab fa-youtube"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="cube p3">
        <div class="name">
          <h1>Chris</h1>
          <p>Web Developer</p>
        </div>
        <div class="innerBorder"></div>
        <div class="darken"></div>
        <div class="content">
          <ul>
            <li><a href=""><span class="fab fa-twitter"></span></a></li>
            <li><a href=""><span class="fab fa-facebook-f"></span></a></li>
            <li><a href=""><span class="fab fa-instagram"></span></a></li>
            <li><a href=""><span class="fab fa-youtube"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="cube p4">
        <div class="name">
          <h1>James</h1>
          <p>UX / UI Designer</p>
        </div>
        <div class="innerBorder"></div>
        <div class="darken"></div>
        <div class="content">
          <ul>
            <li><a href=""><span class="fab fa-twitter"></span></a></li>
            <li><a href=""><span class="fab fa-facebook-f"></span></a></li>
            <li><a href=""><span class="fab fa-instagram"></span></a></li>
            <li><a href=""><span class="fab fa-youtube"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="cube p5">
        <div class="name">
          <h1>Rebecca</h1>
          <p>Graphics Designer</p>
        </div>
        <div class="innerBorder"></div>
        <div class="darken"></div>
        <div class="content">
          <ul>
            <li><a href=""><span class="fab fa-twitter"></span></a></li>
            <li><a href=""><span class="fab fa-facebook-f"></span></a></li>
            <li><a href=""><span class="fab fa-instagram"></span></a></li>
            <li><a href=""><span class="fab fa-youtube"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="cube p6">
        <div class="name">
          <h1>James</h1>
          <p>UX / UI Designer</p>
        </div>
        <div class="innerBorder"></div>
        <div class="darken"></div>
        <div class="content">
          <ul>
            <li><a href=""><span class="fab fa-twitter"></span></a></li>
            <li><a href=""><span class="fab fa-facebook-f"></span></a></li>
            <li><a href=""><span class="fab fa-instagram"></span></a></li>
            <li><a href=""><span class="fab fa-youtube"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="moreTeam"><a href="#"><span>Meet more of the team</span><span class="fas fa-angle-right"></span></a></div>
  </div>
</div>

        {% endblock %}
    </body>
</html>
