{% extends "templates/base.html" %}
{% load static %}
{% block extra_headers %}
<!-- Base statuc -->
<link rel="stylesheet" href="{% static 'css/credits.css' %}">
<link rel="stylesheet" href="{% static 'css/open-iconic-bootstrap.min.css' %}">
<script>
    function get_roster_bios(){
        $.post(
            "{% url 'get_roster_bios' %}",
            function(data){
                //roster_bios = data.bios;
                $('#roster_count2').html(data.bios.length);
                $('#roster_count1').html(data.bios.length);
            }
        );
    }

    $(document).ready(function(){
        get_roster_bios();
    });
</script>
{% endblock %}
<title>{{ title }}</title>
    <body>
    {% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb40 text-center">
                <h1 class="page-title">MEET ATTORNEYS TEAM</h1>
                <!-- /.section-title -->
            </div>
        </div>
        <div class="row">
            <!-- team-block -->
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mb30">
                <div data-aos="fade-up" class="team-block active">
                    <div class="team-img">
                        <a href="#">
                            <img src="https://easetemplate.com/free-website-templates/practical/images/team_img_1.jpg" alt="" class="img-fluid">
                            <div class="social-media">
                                <a href="#" class="social-icon-box"><i class="fab fa-facebook-f"></i></a>
                                <br>
                                <a href="#" class="social-icon-box"><i class="fab fa-twitter"></i></a>
                                <br>
                                <a href="#" class="social-icon-box"><i class="fab fa-google-plus-g"></i></a>
                                <br>
                                <a href="#" class="social-icon-box"><i class="fab fa-pinterest-p"></i></a>
                            </div>
                        </a>
                    </div>
                    <div class="team-content">
                        <h4>William B. Smith</h4>
                    </div>
                </div>
            </div>
            <!-- /.team-block -->
            <!-- team-block -->
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mb30">
                <div data-aos="fade-up" class="team-block">
                    <div class="team-img">
                        <a href="#">
                            <img src="https://easetemplate.com/free-website-templates/practical/images/team_img_2.jpg" alt="" class="img-fluid">
                            <div class="social-media">
                                <a href="#" class="social-icon-box"><i class="fab fa-facebook-f"></i></a>
                                <br>
                                <a href="#" class="social-icon-box"><i class="fab fa-twitter"></i></a>
                                <br>
                                <a href="#" class="social-icon-box"><i class="fab fa-google-plus-g"></i></a>
                                <br>
                                <a href="#" class="social-icon-box"><i class="fab fa-pinterest-p"></i></a>
                            </div>
                        </a>
                    </div>
                    <div class="team-content">
                        <h4>Ronald P. Lomas </h4>
                    </div>
                </div>
            </div>
            <!-- /.team-block -->
            <!-- team-block -->
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mb30">
                <div data-aos="fade-up" class="team-block">
                    <div class="team-img">
                        <a href="#">
                            <img src="https://easetemplate.com/free-website-templates/practical/images/team_img_3.jpg" alt="" class="img-fluid">
                            <div class="social-media">
                                <a href="#" class="social-icon-box"><i class="fab fa-facebook-f"></i></a>
                                <br>
                                <a href="#" class="social-icon-box"><i class="fab fa-twitter"></i></a>
                                <br>
                                <a href="#" class="social-icon-box"><i class="fab fa-google-plus-g"></i></a>
                                <br>
                                <a href="#" class="social-icon-box"><i class="fab fa-pinterest-p"></i></a>
                            </div>
                        </a>
                    </div>
                    <div class="team-content">
                        <h4>Jose B. Banks</h4>
                    </div>
                </div>
            </div>
            <!-- /.team-block -->
            <!-- team-block -->
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mb30">
                <div data-aos="fade-up" class="team-block">
                    <div class="team-img">
                        <a href="#">
                            <img src="https://easetemplate.com/free-website-templates/practical/images/team_img_4.jpg" alt="" class="img-fluid">
                            <div class="social-media">
                                <a href="#" class="social-icon-box"><i class="fab fa-facebook-f"></i></a>
                                <br>
                                <a href="#" class="social-icon-box"><i class="fab fa-twitter"></i></a>
                                <br>
                                <a href="#" class="social-icon-box"><i class="fab fa-google-plus-g"></i></a>
                                <br>
                                <a href="#" class="social-icon-box"><i class="fab fa-pinterest-p"></i></a>
                            </div>
                        </a>
                    </div>
                    <div class="team-content">
                        <h4>Craig K. Tackitt</h4>
                    </div>
                </div>
               <!-- /.team-block -->
            </div>
            
        </div><div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center mt-4"> 
              Created for <a href="https://easetemplate.com/downloads/lawyer-website-template-practical/" target="_blank" class="text-primary">easetemplate</a>
              </div></div>
    </div>

        {% endblock %}
    </body>
</html>
