{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/faq.css' %}">
</head>
<body>
  <div class="container">
        <div class="vertical-container background" id="main">
                <div class="vertical-body">
                  <div class="container">
                    <h2 class="title">Comming Soon</h2>
                    <p>Something will appear here</p>
                    <button type="button" onClick="window.location='/';" class="btn btn-secondary" style="font-size: 46px;">Back to home page</button>
                  </div>
                </div>
              </div>
  </div>
</body>
