{% extends "templates/base.html" %}
{% load static %}
{% block extra_headers %}
{% endblock %}
{% block content %}
<div class="container my-4 pb-5">
        <div class="card">
        <div class="card-header">
        <h1 class="text-center">Welcome to Skills Searcher</h1>
        </div>
        <div class="mx-auto card-body">
                <p class="lead text-muted">Search by skills, use comma separated values.</p>
        </div>
        <div class="mx-auto pb-5">
            <form class="form-inline my-2 my-lg-0 search-form" action="/search">
                <img height="40" src="{% static 'img/intersys_mini_logo.jpeg' %}" alt="Intersys Consulting, Inc." style="margin-right:5px;">
                <input id="input-search" style="width: inherit" class="ok form-control mr-sm-2" type="text" name="q" placeholder="Search skills" {% if q %}value="{{ q }}"{% endif %}>
                <button class="btn btn-success my-2 my-sm-0" type="submit"><span class="oi oi-magnifying-glass"></span></button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
