{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/noaccess.css' %}">
</head>
<body>
  <div class="container">
    <div class="row content">
      <div class="col-lg-12"></div>
      <div class="col-lg-12">
        <h2>You have no access to SkillSearch</h2>
        <p>
          You may want to head back to the homepage. 
          <br>
            If you think something is broken, report a problem.
        </p>
        <p style="margin-left: 55px">
            <a href="https://login.microsoftonline.com/common/oauth2/logout?post_logout_redirect_uri=https://skillssearcher.intersysconsulting.com/"><span class="btn">RETURN TO LOGIN</span></a>
        </p>
      </div>
    </div>
  </div>
  <div class="bg-img"></div>
</body>
