.jumbotron {
  background-color: white;
}

.vcenter {
  vertical-align: middle !important;
}
figure.snip0069 > .image img {
  border-radius: 50% !important;
  border: 5px solid #BADA55 !important;
}
body {
  padding-top: 50px !important;
  padding-bottom: 20px !important;
  background: #F2F2F2 !important;
  font-family: sans-serif; 
}

.faint {
  color: #999 !important;
}

.imagee {
  font-size: 5em !important;
  text-align: center !important;
  width: 120px !important;
  border-radius: 50% !important;
}

.btn:hover {
  outline: 0 !important;
}
.btn:focus {
  outline: 0 !important;
}
.btn:active {
  outline: 0 !important;
}

.btn-download {
  height: 50px !important;
  text-align: center !important;
  margin-top: 40px !important;
  font-size: 1.7em !important;
}

.cover {
  -moz-border-radius: 4px 4px 0 0 !important;
  -webkit-border-radius: 4px !important;
  border-radius: 4px 4px 0 0 !important;
  height: 105px !important;
  overflow: hidden !important;
  z-index: -2 !important;
}
.cover img {
  width: 100% !important;
  height: 100px !important;
}
.branded {
  position: relative !important;
  background: #fff !important;
  -moz-border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  border-radius: 50% !important;
  display: block !important;
  height: 120px !important;
  margin: -55px auto 0 !important;
  width: 120px !important;
  text-align: center !important; 
}
.content1 {
  background-color: transparent !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  text-align: center !important; 
}

.footer {
  color: #999 !important;
  padding: 10px 0 0 !important;
  text-align: center !important;
}
.footer .btn-simple {
  margin-top: -6px !important;
}
.header {
  padding: 15px 20px !important;
  height: 90px !important;
}
.back .content .main {
  height: 215px !important;
}

.back .btn-simple {
  position: absolute !important;
  left: 0 !important;
  bottom: 4px !important;
}

.qr canvas {
  -moz-backface-visibility: hidden !important;
  -webkit-backface-visibility: hidden !important;
  backface-visibility: hidden !important;
  margin: 0 auto !important;
}

.title {
  color: #506a85 !important;
  text-align: center !important;
  font-weight: 300 !important;
  font-size: 44px !important;
  margin-bottom: 90px !important;
  line-height: 90% !important;
}

.scene {
  width: 460px;
  height: 520px;
  perspective: 800px;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}


/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

figure.snip0069 > .image img {
    border-radius: 50%;
    border: 5px solid #BADA55;
}

.back {
	transform: rotateY(180deg);
}
